[data-theme=dark] .btn-primary {

    background-color: #f44336;

}

[data-theme=browser] .btn-primary {

    background-color: #f44336;

    color: #fff;

}

header.navbar{
  background-image: none !important; 
}

.text-bg-primary{
  background-color: #f44336 !important;
}
.bg-primary-dark{
  background-color: #e53935 !important;
}
.page-link{
  background-color: #f44336 !important;
  border: none !important;
}

.btn-primary{
  background-color: #f44336 !important;
  border: none !important
}
.btn-primary:hover{
  background-color: #e53935 !important;
}
.fc-event-main{
   background-color: #f44336 !important;
  border:none !important;
}
.fc-timegrid-event{
  border:none !important;
}